#main{
  max-width:600px;
  margin-left:auto;
  margin-right:auto;
	margin-bottom:5.5em;
  text-align:left;
}
#main h1{
	color: #333;
	margin: 1em 0 0.1em;
	font-size: 4.5em;
}
#main p{
	line-height: 1.5em;
}
#main .input-wrapper{
	margin-top: 0em;
}
#main .input-wrapper h2{
	color: #333;
	font-weight: 300;
	margin-bottom: 0.3em;
}
#main .input-wrapper textarea{
	position: relative;
	font-size: 1em;
	resize:none;
	width:100%;
	height:10em;
}
.right{
	text-align: right;
	margin-right: 0;
	width: 100%;
}
